<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDAO">
    <select id="selectBoardList" resultType="egovframework.practice.homework.service.BoardVO">
        SELECT * FROM board
    </select>

    <insert id="insertBoard" parameterType="egovframework.practice.homework.service.BoardVO">
        INSERT INTO board
        (idx, author, parent_board_idx, title, password, hit, content, created_at, updated_at)
        VALUES
        (#{idx}, #{author}, #{parentBoardIdx}, #{title}, #{password}, #{hit}, #{content}, #{createdAt}, #{updatedAt})
    </insert>
</mapper>
